<li class="list-group-item 
    {% if task.priority == 'high' %}priority-high{% elif task.priority == 'medium' %}priority-medium{% endif %}
    {% if task.own_end_date %}
        {% if task.own_end_date < today %}deadline-overdue
        {% elif task.own_end_date == today %}deadline-today
        {% elif task.own_end_date <= today_warning1 %}deadline-urgent
        {% elif task.own_end_date <= today_warning2 %}deadline-near
        {% endif %}
    {% endif %}" 
    data-id="{{ task.id }}">
    
    <div class="task-header-bar">
        <div class="header-left">
            {% if not task.done %}
                <span class="task-order">Order: {{ task.order }}</span>
                <i class="handle">⠿</i>
            {% endif %}
            <button class="expand-btn">&#9660;</button>
            <button class="collapse-btn">&#9654;</button>
            <span class="task-title"><strong>{{ task.title }}</strong></span>
        </div>
        
        <div class="header-right">
            <span class="task-done">
                Done: <input type="checkbox" class="task-done-checkbox" {% if task.done %}checked{% endif %}>
            </span>
            {% if task.project %}
               <span class="task-project">{{ task.project.name }}</span>
            {% endif %}
            {% if task.category %}
               <span class="task-category">{{ task.get_category_display }}</span>
            {% endif %}
            {% if task.end_date %}
                <span class="task-end-date">End: {{ task.end_date }}</span>
            {% endif %}
        </div>
    </div>

    <div class="task-view" style="display: block;">
        
        {% if task.own_end_date and not task.end_date %}
            <div class="task-badge-container">
                <span class="task-own-end-date-badge">
                    Own End Date: {{ task.own_end_date }} 
                    <strong>
                    {% if task.own_end_date < today %}(PO TERMINIE)
                    {% elif task.own_end_date == today %}(JUŻ!)
                    {% elif task.own_end_date <= today_warning1 %}(MAŁO CZASU)
                    {% elif task.own_end_date <= today_warning2 %}(BLISKO)
                    {% endif %}
                    </strong>
                </span>
                <span class="task-priority-badge">Priority: {{ task.get_priority_display }}</span>
            </div>
        {% endif %}

        <div class="task-details">
            <p class="task-description-text">{{ task.description }}</p>
            
            <div class="task-columns-container">
                
                <div class="subtask-view">
                    <div class="subtask-header">
                        <strong>Subtasks {{ task.subtasks.count }}</strong> 
                        <button class="new-subtasks-btn">+</button>
                    </div>
                    <div class="subtasks-list">
                        <ul>
                            {% for subtask in subtasks %}
                                {% if subtask.task.id == task.id %}
                                    {% include 'subtask_view.html' with subtask=subtask task=task %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    
                    <div class="add-subtask-form-container" style="display: none;">
                        <form class="add-subtask-form" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task.id" value="{{ task.id }}">
                            Title: {{ sub_form.title }}
                            <br>Description: {{ sub_form.description }}
                            <br>
                            <div class="form-buttons">
                                <button type="submit" class="add-subtask-btn" name="add-subtask">Add</button>
                                <button type="button" class="cancel-add-subtask-btn">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="task-comments">
                    <strong><span class="comment-count">Comments {{ task.comments.count }}:</span></strong>
                    <div class="comments-list">
                        <ul>
                            {% for comment in comments %}
                            {% if comment.task.id == task.id %}
                                {% include 'comment_view.html' with comment=comment %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <form class="add-comment-form">
                            {% csrf_token %}
                            <input type="hidden" name="task.id" value="{{ task.id }}">
                            {{ com_form.text }}
                            <button type="submit" class="add-comment-btn" name="add-comment">Add Comment</button>
                        </form>
                    </div>
                </div>

            </div> <div class="task-actions-footer">
                <button class="delete-task-btn">Delete</button>
                <button class="edit-task-btn">Edit</button>
                <button class="do-now-btn">Do Now</button>
            </div>
        </div>
    </div>

    <!-- Widok edycji zadania, domyślnie ukryty -->
    <div class="task-edit" style="display: none;">
        <form class="edit-task-form">
            {% csrf_token %}
            Title: <input type="text" name="title" value="{{ task.title }}" placeholder="Title" required><br>
            Description: <textarea name="description" placeholder="Description">{{ task.description }}</textarea><br>
            Category: {{ task.category }}
                <select name="category" id="id_category">
                    {% for value, label in form.category.field.choices %}
                        <option value="{{ value }}" {% if task.category == value %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
            <br>
            Priority:
            <select name="priority" id="id_priority">
                {% for value, label in form.priority.field.choices %}
                    <option value="{{ value }}" {% if task.priority == value %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
            <br>

            Planing end date: <input type="date" name="own_end_date" value="{{ task.own_end_date|date:'Y-m-d' }}"><br>
            Project: {{ task.project }}
            <select name="project" id="id_project">
                {% for project in form.project %}
                <option value="{{ project.data.value }}" {% if task.project.id == project.data.value %}selected{% endif %}>
                    {{ project.data.label }}
                </option>
                {% endfor %}
            </select>
            <button type="submit" class="save-edit-btn">Save</button>
            <button type="button" class="cancel-edit-btn">Cancel</button>
        </form>
    </div>

    
</li>