<li class="list-group-item" 
    data-id="{{ task.id }}" 
    style="border: 1px solid black; padding: 10px; margin-bottom: 10px;">
    <!-- Widok statyczny zadania -->
    <div class="task-view" style="display: block;">
        {% if not task.done %}
            <span class="task-order">Order: {{ task.order }}</span>
            <i class="handle">⠿</i>
        {% endif %}

        <button class="expand-btn" style="background-color: transparent; border: none; cursor: pointer; font-size: 16px;">&#9660;</button>
        <button class="collapse-btn" style="background-color: transparent; border: none; cursor: pointer; font-size: 16px;">&#9654;</button>
        <span class="task-title"><strong>{{ task.title }}</strong></span>
        <span class="task-done">
            Done: <input type="checkbox" class="task-done-checkbox" {% if task.done %}checked{% endif %}>
        </span>
        {% if task.project %}
           <span class="task-project">Project: {{ task.project.name }}</span>
        {% endif %}

        {% if task.end_date %}
            <span class="task-end-date">End Date: {{ task.end_date }}</span>
        {% endif %}
        
        <div class="task-details" style="display: block; margin-top: 10px;">
            <p>{{ task.description }}</p>
            
            <div class="task-comments">
                <strong><span class="comment-count">Comments {{ task.comments.count }}:</span></strong>
                <div class="comments-list" style="display: none;">
                    <ul>
                        {% for comment in comments %}
                        {% if comment.task.id == task.id %}
                            {% include 'comment_view.html' with comment=comment %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <p>
                        <form class="add-comment-form">
                            {% csrf_token %}
                            <input type="hidden" name="task.id" value="{{ task.id }}">
                            {{ com_form.text }}
                            <button type="submit" class="add-comment-btn" name="add-comment" style="background-color: green; color: white; border: none; padding: 5px 10px; cursor: pointer;">Add Comment</button>
                        </form>
                    </p>
                </div>
            </div>
            <div class="subtask-view">
                <strong>Subtasks {{ task.subtasks.count }}</strong> <button class="new-subtasks-btn" style="background-color: transparent; border: none; cursor: pointer; font-size: 16px;">+</button>
                <div class="subtasks-list" style="display: block;">
                    <ul>
                        {% for subtask in subtasks %}
                            {% if subtask.task.id == task.id %}
                                {% include 'subtask_view.html' with subtask=subtask task=task %}
                            {% endif %}
                        {% endfor %}
                </ul>
                </div>
                

                <div class="add-subtask-form-container" style="display: none; margin-top: 10px;">
                    <form class="add-subtask-form" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="task.id" value="{{ task.id }}">
                        Title: {{ sub_form.title }}
                        <br>Description: {{ sub_form.description }}
                        <br><button type="submit" class="add-subtask-btn" name="add-subtask" style="background-color: green; color: white; border: none; padding: 5px 10px; cursor: pointer;">Add Subtask</button>
                        <button type="button" class="cancel-add-subtask-btn" style="background-color: gray; color: white; border: none; padding: 5px 10px; cursor: pointer;">Cancel</button>
                    </form>
                </div>
            </div>
            
            <button class="delete-task-btn" style="background-color: red; color: white; border: none; padding: 5px 10px; cursor: pointer;">Delete</button>
            <button class="edit-task-btn" style="background-color: blue; color: white; border: none; padding: 5px 10px; cursor: pointer;">Edit</button>
            <button class="do-now-btn" style="background-color: orange; color: white; border: none; padding: 5px 10px; cursor: pointer;">Do Now</button>
        </div>
    </div>

    <!-- Widok edycji zadania, domyślnie ukryty -->
    <div class="task-edit" style="display: none;">
        <form class="edit-task-form">
            {% csrf_token %}
            <input type="text" name="title" value="{{ task.title }}" placeholder="Title" required><br>
            <textarea name="description" placeholder="Description">{{ task.description }}</textarea><br>
            <label>
                Done: <input type="checkbox" name="done" {% if task.done %}checked{% endif %}>
            </label><br>
            <input type="date" name="end_date" value="{{ task.end_date|date:'Y-m-d' }}"><br>
            <input type="text" name="project" value="{{ task.project.name }}" placeholder="Project"><br>
            <button type="submit" class="save-edit-btn" style="background-color: green; color: white; border: none; padding: 5px 10px; cursor: pointer;">Save</button>
            <button type="button" class="cancel-edit-btn" style="background-color: gray; color: white; border: none; padding: 5px 10px; cursor: pointer;">Cancel</button>
        </form>
    </div>

    
</li>